body{
    background-image: url(https://i.ibb.co/WsTPdMZ/letters-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

.container{
    margin-top: 8%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: #10226cab;
    border-radius: 15px;
    box-shadow: -2px 1px 20px 5px #ffffff;
}

#wordContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
    margin-top: 2%;
    /*flex-wrap: wrap;*/
}

@media only screen and (max-width: 500px) {
    .boxesWord{
        font-size: 5.3vw !important;
        max-width: 21.5px !important;
        max-height: 40px !important;
        padding: 1vw !important;
    }

    h1{
        font-size: 10vw !important;
        -webkit-text-stroke: 2px #080F61 !important;
    }

    .boxesLetters{
        height: 45px !important;
        width: 45px !important;
    }

    .container{
        margin-top: 3% !important;
    }

    button{
        width: 39vw !important;
    }
}

#letters{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}


.boxesWord{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(86, 154, 190);
    background-color: rgb(8, 15, 97);
    padding: 10px;
    font-size: 4vw;
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: rgb(98, 161, 195);
    font-weight: bold;
    border-radius: 3px;
}

.boxesLetters{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #080F61;
    padding: 5px;
    font-size: 25px;
    height: 55px;
    width: 55px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
    margin-bottom: 20px;
}

.boxesLetters:hover{
    background-color: #080F61;
    color: rgb(86, 154, 190);
}


button{
    font-size: 2vw;
    padding: 20px;
    width: 15vw;
    border-radius: 50px;
    text-align: center;
    border: 2px solid #080F61;
}

@media only screen and (max-width: 850px) {
    button{
        font-size: 3vw;
        width: 23vw;
    }
    h1{
        font-size: 10vw !important;
    }
}

@media only screen and (max-width: 550px) {
    button{
        font-size: 3vw;
        width: 35vw;
    }

    h1{
        font-size: 10vw !important;
    }
}

button:hover{
    background-color: #080F61;
    color: rgb(86, 154, 190);
    border: 2px solid #569ABE;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 5px;
    -webkit-text-stroke: 3px #080F61;
}

#StartButton{
    display: flex;
    justify-content: center;
}

.disabled{
    opacity: 0.5;
}

.disabled:hover{
    background-color: #569ABE;
    border: 2px solid #080F61;
    color: #080F61;
    cursor: not-allowed;
}